@page "/Class/{Code}"
@inject ClassesService classesService

@if (loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    <h3 style="text-align: center;">Getting information of class @Code</h3>
}
else
{
    <h2>@MyClass.Schedules.Count.ToString()</h2>
}

@code {
    [Parameter]
    public string Code { get; set; }
    private Class MyClass;
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        MyClass = await classesService.GetClass(Code);
        loading = false;
    }
}