.holder {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.info {
    text-align: center;
    background: #F0F0F0;
    color: #594AE2;
    padding: 10ch 0;
}

.buttons-holder {
    margin-top: 5ch;
    justify-content: center;
    display: flex;
}

.features {
    padding: 10ch 0;
    display: flex;
    justify-content: center;
}

.feature {
    padding: 3ch;
    cursor: pointer;
    margin: 2ch;
    display: flex;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    transition: border 0.3s;
}

.technologies {
    background: #F0F0F0;
    padding: 5ch 15ch;
}

.description {
    padding-left: 7ch;
    display:flex;
    align-items:center;
}

.contributors {
    background: #ffffff;
    padding: 5ch 15ch;
}

.thank-you {
    padding-right: 7ch;
    display: flex;
    align-items: center;
}

.pc-version {
    padding: 5ch 15ch;
    background-color: #594AE2;
    color: #ffffff;
}

    .pc-version .holder {
        padding: 7ch;
    }

.download {
    text-align: center;
}

footer {
    background: #F0F0F0;
    padding: 5ch 15ch;
}

footer a {
    text-decoration: none;
    color: #616161;
    transition: color 0.3s;
}

    footer a:hover {
        text-decoration: underline;
        color: #181818
    }

    footer .copyright {
        display: flex;
        justify-content: space-around;
    }

@media (max-width: 600px) {
    footer .copyright {
        display: block;
        text-align: center;
    }
}

@media (max-width: 935px) {
    .pc-version .holder {
        padding: 0;
    }

    footer {
        padding: 5ch;
    }

    .description {
        padding: 0;
        justify-content: center;
    }

    .thank-you {
        padding: 0;
        justify-content: center;
    }

    .holder {
        display: block;
        text-align: center;
    }
    .holder img {
        display: none;
    }
}

@media (max-width: 1100px) {
    .technologies {
        padding: 5ch;
    }

    .contributors {
        padding: 5ch;
    }

    .pc-version {
        padding: 5ch;
    }
    .features {
        display: block;
    }
}

@media (min-width: 1101px) {
    .feature {
        max-width: 270px;
    }
}


@media (min-width: 1400px) {
    .feature {
        max-width: 330px;
    }
}

    .feature:hover {
        border: 1px solid #594AE2;
    }
