.info {
    text-align: center;
    background: #F0F0F0;
    color: #594AE2;
    padding: 10ch 0;
}

.buttons-holder {
    margin-top: 5ch;
    justify-content: center;
    display: flex;
}

.features {
    padding: 10ch 0;
    display: flex;
    justify-content: center;
}

.feature {
    padding: 3ch;
    cursor: pointer;
    margin: 2ch;
    display: flex;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    transition: border 0.3s;
}

.pc-version {
    justify-content: space-around;
    padding: 5ch;
    display: flex;
    background-color: #594AE2;
    color: #ffffff;
}

.download {
    text-align: center;
}

footer {
    background: #F0F0F0;
    padding: 5ch 15ch;
}

a {
    text-decoration: none;
    color: #616161;
    transition: color 0.3s;
}

    a:hover {
        text-decoration: underline;
        color: #181818
    }

@media (max-width: 800px) {
    footer {
        padding: 5ch 5ch;
    }
}

@media (max-width: 1100px) {
    .features {
        display: block;
    }
}

@media (min-width: 1101px) {
    .feature {
        max-width: 270px;
    }
}

@media (min-width: 1400px) {
    .feature {
        max-width: 330px;
    }
}

    .feature:hover {
        border: 1px solid #594AE2;
    }
