@page "/grade/{id}"
@page "/grade" 
@inject NavigationManager navigationManager
@inject GradesService gradesServive

<h3>TestPage</h3>
<h1>@myGrade.GradeinNum</h1>
<h3>@myGrade.Student.Name</h3>

@code {
    [Parameter]
    public string id { get; set; }

    private Grade myGrade;

    protected override async Task OnInitializedAsync()
    {
        myGrade = await gradesServive.GetGradeAsync(id);
    }
}
